.ActionInfo {
  .ActionInfo-header {
    font-size: 20px;
    margin: 0 0 20px 0;
    color: @text_blue;
    font-weight: bold;

  }

  h4.ActionInfo-subheader {
    font-size: 12px;
    text-align: left;
    color: @text_blue;
  }

  .PhoneLink {

    font-size : 24px;

  }


  p {
    font-size: 14px;
  }
}

@media (min-width: 599px) {
  .ActionInfo {
    h3.ActionInfo-header {
      text-align: left;
    }
  }
}

@media (min-width: 768px) {
  .ActionInfo {
    .ActionInfo-header {
      font-size: 20px;
      color: @text_blue;
      font-weight: bold;
          margin: 0 0 20px 0;

    }

    h4.ActionInfo-subheader {
      font-size: 14px;
    }

    p {
      font-size: 14px;
    }
  }
}
