.CTABanner {
  text-align: center;

  h2 {
      color: @text_blue_royal;
  }

  p {
    font-size: 20px;
    margin: 5px 0px;

    .CTABanner-big_text {
      font-size: 17px;
    }


    .CTABanner-bold_text {
      font-weight: bold;
      color: @text_blue;
    }

    .CTABanner-state_text {
      font-weight: bold;
      color: #00AEEF;
      font-size: 24px;
    }
  }
}

@media (min-width: 599px) {
  .CTABanner {
    text-align: center;

    h2 {
      color: @text_blue_royal;
    }

    p {
      font-size: 20px;
      margin: 5px 0px;

      .CTABanner-big_text {
        font-size: 17px;
      }

      .CTABanner-bold_text {
        font-weight: bold;
        color: @text_blue;
      }
    }
  }
}
