.CTABanner {
  text-align: center;
  line-height: 140%;



    font-size: 22px;

    .CTABanner-big_text {
      font-size: 17px;
    }


    .CTABanner-bold_text {
      font-weight: bold;
      color: @text_blue;
    }

    .CTABanner-state_text {
      font-weight: bold;
      color: #00AEEF;
      font-size: 28px;
    }
  
}

@media (min-width: 599px) {
  .CTABanner {

      .CTABanner-big_text {
        font-size: 17px;
      }

      .CTABanner-bold_text {
        font-weight: bold;
        color: @text_blue;
      }
    
  }
}
