.RepsCard {

  padding: 4px;

  h5 {
    text-align: left;

  }


  .RepImageWrapper{
      display: inline-block;
      img {
      margin: 0px 8px 8px 8px;
      width: 90px;
      overflow: hidden;
      display: inline-block;
    }


    .RepSocialWrapper{
      text-align: center;
      i {
        display: inline-block;
      }

    }
  }

  div {


    div.RepsCard-info {
      display: inline-block;
      width: 60%;
      vertical-align: top;
      overflow: hidden;

      h6 {
        text-align: center;
        margin: 11px 0;
      }

      p {
        margin: 0 0 3px 0;
        text-align: left;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;

        span {
          font-weight: bold;
        }
      }



      a {

        text-decoration: underline;
      }

      a:hover {
        color: @text_blue;
      }
    }
  }
}

@media (min-width: 415px) {
  .RepsCard {
    div {
      div.RepsCard-info {
        a, p {
          // text-align: center;
        }
      }
    }
  }
}

@media (min-width: 599px) {
  .RepsCard {
    div {
      div.RepsCard-info {
        a, p {
          text-align: left;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .RepsCard {
    display: inline-block;
    width: 48%;
    margin: 0 1%;
  }
}
