.RepsCard {

  padding: 10px;

  .RepName {
    font-weight: bold;
    font-size: 18px;
  }

  .RepImageWrapper{
      display: inline-block;
      width: 45%;
      img {
        width: 90%;
        height: auto;
        overflow: hidden;
        display: inline-block;
    }


    .RepSocialWrapper{
      text-align: center;
      i {
        display: inline-block;
      }

    }
  }

  div {


    div.RepsCard-info {
      display: inline-block;
      width: 52%;
      vertical-align: top;
      overflow: hidden;


      p {
        text-align: left;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;

        span {
          font-weight: bold;
        }
      }



      a {

        text-decoration: underline;
      }

      a:hover {
        color: @text_blue;
      }
    }
  }
}

@media (min-width: 415px) {
  .RepsCard {
    div {
      div.RepsCard-info {
        a, p {
          // text-align: center;
        }
      }
    }
  }
}

@media (min-width: 599px) {
  .RepsCard {
    div {
      div.RepsCard-info {
        a, p {
          text-align: left;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .RepsCard {
    display: inline-block;
    width: 48%;
  }
}
